/* App.css */

/* Container for the whole app */
.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  /* The road container */
  .road {
    z-index: 1000;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 120px;
    background-color: #333;
    /* border-radius: 20px; */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Basic vehicle styles */
  .vehicle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s ease-out;
  }
  
  /* Ambulance vehicle style */
  .ambulance {
    bottom: 65px;
    background-image: url('../../resources/ambulance.png'); /* Replace with your ambulance image URL */
    animation: moveAmbulance 5s linear infinite;
  }
  
  /* Water tank vehicle style */
  .water-tank {
    bottom: 10px;
    background-image: url('../../resources/waterTanker.png'); /* Replace with your water tank image URL */
    animation: moveWaterTank 10s linear infinite;
  }
  
  /* Define the animations for the vehicles */
  @keyframes moveAmbulance {
    0% {
      left: -50px; /* Start position off-screen */
    }
    100% {
      left: 100%; /* Move to the right edge */
    }
  }
  
  @keyframes moveWaterTank {
    0% {
      left: -50px; /* Start position off-screen */
    }
    100% {
      left: 100%; /* Move to the right edge */
    }
  }
  .first-line{
    background: #FFF;
    width: 100%;
    height:1px;
    position: absolute;
    top:10px;
  }
  .second-line{
    background: #FFF;
    width: 100%;
    height:1px;
    position: absolute;
    bottom:10px;
  }
  .middle-line{
    position: absolute;
    top:50%;
    background: repeating-linear-gradient(to left,white 0%, white 5%, transparent 5%, transparent 10%);
    width: 100%;
    height: 2px;
  }

  